<form action="/" method="post">
  <div class="input-group mb-3 mt-3">
    <input type="url" class="form-control" placeholder="Input URL here" name="originalURL" id="originalURL" required>
  </div>
  <div class="input-group mb-3 justify-content-center">
    <input type="submit" value="Shorten" class="btn btn-outline-primary w-50">
  </div>
</form>
{{#if message}}
<div class="alert alert-warning mt-3" role="alert">
  {{message}} <a class="mr-2" href="{{ urllist.originalURL }}" target="_blank">{{ urllist.newURL }}</i></a>
</div>
{{/if}}

{{#if originalURL}}
<a class="mr-2" href="{{ originalURL }}" target="_blank">{{ newURL }}</i></a>
{{/if}}

